#email {
    background-color: #6D4AFF;
}
#email:hover {
    background-color: #947afc
}

#youtube {
    background-color: #CC181E;
}
#youtube:hover {
    background-color: #d16d70;
}

#tiktok {
    background-color: #040404;
}
#tiktok:hover {
    background-color: #353434;
}

#twitch {
    background-color: #6441A5;
}
#twitch:hover {
    background-color: #7f6ca3;
}

#github {
    background-color: #24292F;
}
#github:hover {
    background-color: #47505c;
}